<!DOCTYPE html>
<html>

<head>
    <title>Ürünler</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <%- include('partials/header') %>

        <h2>Ürünler</h2>

        <div style="display:flex; gap:20px; flex-wrap:wrap;">
            <% products.forEach(product=> { %>

                <a href="/products/<%= product.id %>" style="text-decoration:none; color:inherit;">
                    <div class="product-card">
                        <img src="<%= product.image %>" width="150">

                        <h3>
                            <%= product.name %>
                        </h3>

                        <p class="product-author">
                            <%= product.author %>
                        </p>

                        <p>
                            <%= product.price.toFixed(2) %> TL
                        </p>
                    </div>
                </a>

                <% }) %>
        </div>

        <%- include('partials/footer') %>

</body>

</html>