<!DOCTYPE html>
<html>

<head>
    <title>Ürünler</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <%- include('partials/header') %>

        <h2>Ürünler</h2>

        <div class="category-menu">
            <button>Klasikler</button>
            <button>Roman</button>
            <button>Dünya Edebiyatı</button>
            <button>Türk Edebiyatı</button>
            <button>Çocuk Kitapları</button>
        </div>

        <div style="display:flex; gap:20px; flex-wrap:wrap;">
            <% products.forEach(product=> { %>

                <div class="product-card">
                    <a href="/products/<%= product.id %>" class="product-image-link">
                        <img src="<%= product.image %>" width="150">
                    </a>

                    <a href="/products/<%= product.id %>" class="product-title-link">
                        <h3>
                            <%= product.name %>
                        </h3>
                    </a>

                    <p class="product-author">
                        <%= product.author %>
                    </p>

                    <p>
                        <%= product.price.toFixed(2) %> TL
                    </p>

                    <form action="/cart/add/<%= product.id %>" method="POST">
                        <button type="submit" class="cart-icon-button">🛒</button>
                    </form>
                </div>

                <% }) %>
        </div>

        <%- include('partials/footer') %>

</body>

</html>